@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./menu_bemvindo.css");
@import url("./sobremim.css");
@import url("./skills_formacao.css");
@import url("./portifolio.css");
@import url("./contato_footer.css");

:root {
    --cor-de-fundo: #FFF8E9;
    --fundo-translucido: rgb(255, 248, 233, 0.6);
    --cor-de-link: #be4048;
    --cor-secundaria: #D9C1BB;
    --secundaria-translucida: rgb(217, 193, 187,0.85);
    --cor-bemvindo: #9b2c34;
    --cor-especial: #A08B64;
    --cor-hover: #b49d71;
    --cor-texto: #000;
}

html {
  scroll-behavior: smooth;
}

body {
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    background: url("../assets/background.svg") no-repeat center center fixed;
    background-size: cover;    
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

a:hover {
    color: var(--cor-hover);
    text-decoration: underline;
}

ul {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    color: var(--cor-bemvindo)
}

h4{
    font-size: 22px;
    font-weight: 400;
    color: var(--cor-bemvindo)
}

h5 {
    font-size: 20px;
    font-weight: 600;
}

.btn {
    color: #FFFFFF;
    font-size: 18px;
    background-color: var(--cor-especial);
}

.topo__menu {
    padding: 5px 15px;
    text-align: right;
    font-size: 18px;
}

